body {
    background-color: #fff;
}

div {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, select, textarea {
    font-family: inherit;
}

button {
    -webkit-appearance: button;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.wrapper {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 10px;
}

.item-node {
    position: relative;
}

.item-wrapper {
    --content-height: 10.5;
    --toggle-height: 1.5;
    --spacing: 1;
    --stroke-width: 2;
    --duration: 500ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*content container*/

.item-content-container {
    --elevation0: 0 1px 1px rgba(0, 0, 0, 0.08);
    --elevation1: 0 1px 4px rgba(0, 51, 73, 0.16);
    --elevation2: 0 1px 4px rgba(0, 51, 73, 0.16), 0 8px 32px rgba(0, 51, 73, 0.08);
    --elevation: var(--elevation1);
    -webkit-box-shadow: var(--elevation);
    box-shadow: var(--elevation);
    --elevation: var(--elevation1);
    --height: 10.5;
    --width: 16.25;
    background: #fff;
    border: 1px solid #d7dce0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(var(--height)*1rem);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    width: calc(var(--width)*1rem);
}

/*button*/

.btn-group-collapse {
    font-size: .75rem;
    line-height: 1.5em;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0;
    --content-height: 10.5;
    background: #4dd22c;
    color: #fafbfc;
    height: calc(var(--toggle-height)*1rem);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    position: absolute;
    right: -2rem;
    top: 4.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2rem;
    z-index: 1;
}

.btn-group-collapse.opened {
    background: #b2b2b2;
}

/* child */

.children-wrapper {
    margin-left: 6rem;
    position: relative;
}

.child-item {
    -webkit-transition: opacity var(--duration);
    transition: opacity var(--duration);
}

.child-wrapper+.child-wrapper {
    margin-top: calc(var(--spacing)*1rem);
}

/* path */

.item-line-wrapper {
    --content-height: 10.5;
    fill: none;
    left: -4rem;
    position: absolute;
    stroke: #c4c4c4;
    stroke-width: var(--stroke-width);
    top: 4.5rem;
}

.item-line-strange {
    -webkit-animation: _ani 0s linear forwards;
    animation: _ani 0s linear forwards;
    left: -6rem;
}

.item-line-wrapper path {
    -webkit-animation: _ani calc(var(--duration)*7.5) linear forwards;
    animation: _ani calc(var(--duration)*7.5) linear forwards;
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
}

@-webkit-keyframes _ani {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes _ani {
    to {
        stroke-dashoffset: 0
    }
}

.tree-list-container, .tree-list-item {
    --elevation0: 0 1px 1px rgba(0, 0, 0, 0.08);
    --elevation1: 0 1px 4px rgba(0, 51, 73, 0.16);
    --elevation2: 0 1px 4px rgba(0, 51, 73, 0.16), 0 8px 32px rgba(0, 51, 73, 0.08);
    --elevation: var(--elevation1);
    box-shadow: var(--elevation);
    --elevation: var(--elevation1);
    background: #fff;
    border: 1px solid #d7dce0;
}

.tree-list-container {
    padding: 15px;
}

.tree-list-item {
    padding: 10px 15px;
}

ul.tree {
    overflow-x: auto;
    white-space: nowrap;
}

ul.tree, ul.tree ul {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.tree ul {
    margin-top: 44px;
}

ul.tree li {
    display: block;
    width: auto;
    float: left;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    position: relative;
}

ul.tree li svg {
    top: -48px;
    left: unset;
}

ul.tree li svg path {
    stroke-dasharray: 0;
}

ul.tree li div.item-content-container, ul.tree ul li div.item-content-container {
    margin: 0 auto;
    text-align: left;
}

ul.tree .btn-group-collapse {
    position: relative;
    top: -3px;
    right: 0;
    margin: 0 auto;
}

ul.tree li span {
    display: block;
    width: 5em;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
    letter-spacing: normal;
}

.v-tree-container {
    font-family: sans-serif;
    color: #666;
    width: max-content;
}